body {
    margin:0;
    padding:0;
}
.Messenger-Panel {
    float:left;
    width:60vw;
    height:100vh;
}
.Messenger-Panel .bar {
    width:100%;
    height:1.5em;
    position:fixed;
    bottom:0;
}
.bar .input {
    width:90%;
    height:100%;
}
.bar .send {
    width:10%;
    height:100%;
    margin:0;
    position:absolute;
    right:0;
}

.Settings-Panel {
    float:left;
    width:40vw;
    height:100vh;
}
